<section id="partners" class="py-16 bg-gray-50 dark:bg-gray-900 overflow-hidden">
  <div class="container-custom">

    <!-- Slider -->
    <div class="slider">
      <div class="slide-track">

        <!-- Logos (كررهم مرتين 👇) -->
        <img src="mcdonalds.svg" alt="McDonald's">
        <img src="kfc.svg" alt="KFC">
        <img src="/logos/pizzahut.png" alt="Pizza Hut">
        <img src="/logos/dominos.png" alt="Domino's">
        <img src="/logos/starbucks.png" alt="Starbucks">

        <!-- Repeat -->
        <img src="mcdonalds.svg" alt="McDonald's">
        <img src="kfc.svg" alt="KFC">
        <img src="/logos/pizzahut.png" alt="Pizza Hut">
        <img src="/logos/dominos.png" alt="Domino's">
        <img src="/logos/starbucks.png" alt="Starbucks">

      </div>
    </div>

  </div>
</section>
