<section id="partners" class="partners-section">
  <div class="slider">
    <div class="slide-track">

      <!-- Logos -->
      <div class="slide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/250x250/731b62d61e/mcdonalds-logo-green-250x250.png"></div>
      <div class="slide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/300x300/78c98cb30c/new-logo-kfc.png"></div>
      <div class="slide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/256x256/4fd0ed75e4/icon-pizza.jpg"></div>
      <div class="slide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/256x256/d0d1af7ecf/dominos-logo-2-256x256.png"></div>
      <div class="slide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/256x256/11bf79a2b4/icon-donut.jpg"></div>

      <!-- Duplicate (مهم باش يكون infinite) -->
      <div class="slide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/250x250/731b62d61e/mcdonalds-logo-green-250x250.png"></div>
      <div class="slide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/300x300/78c98cb30c/new-logo-kfc.png"></div>
      <div class="slide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/256x256/4fd0ed75e4/icon-pizza.jpg"></div>
      <div class="slide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/256x256/d0d1af7ecf/dominos-logo-2-256x256.png"></div>
      <div class="slide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/256x256/11bf79a2b4/icon-donut.jpg"></div>

    </div>
  </div>
</section>
