<section id="partners" class="py-10 bg-white dark:bg-gray-900">
  <div class="container-custom">

    <!-- Slider Wrapper -->
    <div class="partners-slider">

      <div class="partner-card">
        <img src="mcdonalds.svg" alt="McDonald's">
      </div>

      <div class="partner-card">
        <img src="kfc.svg" alt="KFC">
      </div>

      <div class="partner-card">
        <img src="/logos/pizzahut.png" alt="Pizza Hut">
      </div>

      <div class="partner-card">
        <img src="/logos/dominos.png" alt="Domino's">
      </div>

      <div class="partner-card">
        <img src="/logos/starbucks.png" alt="Starbucks">
      </div>

      <!-- زيد ما بغيت -->
      
    </div>

  </div>
</section>
