<section id="partners" class="partners">
  <div class="slider">
    <div class="slide-track">

      <!-- مربع -->
      <div class="slide square">
        <img src="mcdonalds.png">
      </div>

      <!-- مستطيل -->
      <div class="slide wide">
        <img src="kfc.png">
      </div>

      <div class="slide square">
        <img src="pizza.png">
      </div>

      <div class="slide wide">
        <img src="dominos.png">
      </div>

      <!-- duplicate -->
      <div class="slide square">
        <img src="mcdonalds.png">
      </div>

      <div class="slide wide">
        <img src="kfc.png">
      </div>

      <div class="slide square">
        <img src="pizza.png">
      </div>

      <div class="slide wide">
        <img src="dominos.png">
      </div>

    </div>
  </div>
</section>
