<section id="partners" class="partners">
  <div class="slider">
    <div class="slide-track">

      <!-- logos -->
      <div class="slide square">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/McDonald%27s_Logo.svg">
      </div>

      <div class="slide wide">
        <img src="https://upload.wikimedia.org/wikipedia/sco/thumb/b/bf/KFC_logo.svg/512px-KFC_logo.svg.png">
      </div>

      <div class="slide square">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Pizza_Hut_logo.svg">
      </div>

      <div class="slide wide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Dominos_pizza_logo.svg">
      </div>

      <div class="slide square">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Starbucks_Coffee_Logo.svg">
      </div>

      <!-- duplicate -->
      <div class="slide square">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/McDonald%27s_Logo.svg">
      </div>

      <div class="slide wide">
        <img src="https://upload.wikimedia.org/wikipedia/sco/thumb/b/bf/KFC_logo.svg/512px-KFC_logo.svg.png">
      </div>

      <div class="slide square">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Pizza_Hut_logo.svg">
      </div>

      <div class="slide wide">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Dominos_pizza_logo.svg">
      </div>

      <div class="slide square">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Starbucks_Coffee_Logo.svg">
      </div>

    </div>
  </div>
</section>
