<section id="partners" class="partners-section">
  <div class="slider">
    <div class="slide-track">

      <!-- Logos -->
      <div class="slide"><img src="mcdonalds.svg"></div>
      <div class="slide"><img src="kfc.svg"></div>
      <div class="slide"><img src="pizzahut.png"></div>
      <div class="slide"><img src="dominos.png"></div>
      <div class="slide"><img src="starbucks.png"></div>

      <!-- Duplicate (مهم باش يكون infinite) -->
      <div class="slide"><img src="mcdonalds.svg"></div>
      <div class="slide"><img src="kfc.svg"></div>
      <div class="slide"><img src="pizzahut.png"></div>
      <div class="slide"><img src="dominos.png"></div>
      <div class="slide"><img src="starbucks.png"></div>

    </div>
  </div>
</section>
