---
---

<section class="partners">
  <div class="slider">
    <div class="track">

      <!-- العناصر -->
      <div class="card square"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/250x250/731b62d61e/mcdonalds-logo-green-250x250.png" alt=""></div>
      <div class="card wide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/2133x1200/aa167a689c/burger.jpg" alt=""></div>

      <div class="card square"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/256x256/d0d1af7ecf/dominos-logo-2-256x256.png" alt=""></div>
      <div class="card wide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/512x256/47c289a9f4/pizza-wide.jpg" alt=""></div>

      <div class="card square"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/300x300/78c98cb30c/new-logo-kfc.png" alt=""></div>
      <div class="card wide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/512x265/a92bab2326/fries-2-wide.png" alt=""></div>

      <!-- تكرار (مهم ل infinite) -->
      <div class="card square"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/250x250/731b62d61e/mcdonalds-logo-green-250x250.png" alt=""></div>
      <div class="card wide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/2133x1200/aa167a689c/burger.jpg" alt=""></div>

      <div class="card square"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/256x256/d0d1af7ecf/dominos-logo-2-256x256.png" alt=""></div>
      <div class="card wide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/512x256/47c289a9f4/pizza-wide.jpg" alt=""></div>

      <div class="card square"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/300x300/78c98cb30c/new-logo-kfc.png" alt=""></div>
      <div class="card wide"><img src="https://img2.storyblok.com/filters:format(webp)/f/62776/512x265/a92bab2326/fries-2-wide.png" alt=""></div>

    </div>
  </div>
</section>

<style>
/* بدون مسافات */
.partners {
  overflow: hidden;
}

/* container */
.slider {
  overflow: hidden;
}

/* track */
.track {
  display: flex;
  gap: 12px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

/* cards */
.card {
  flex-shrink: 0;
  border-radius: 14px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* sizes */
.square {
  width: 90px;
  height: 90px;
}

.wide {
  width: 200px;
  height: 90px;
}

/* animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
</style>
