<section id="partners" class="partners">
  <div class="slider">
    <div class="slide-track">

      <!-- مربع -->
      <div class="card square">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/250x250/731b62d61e/mcdonalds-logo-green-250x250.png">
      </div>

      <!-- مستطيل -->
      <div class="card wide">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/2133x1200/aa167a689c/burger.jpg">
      </div>


      <!-- مربع -->
      <div class="card square">
      <!-- مربع -->
      <div class="card square">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/250x250/731b62d61e/mcdonalds-logo-green-250x250.png">
      </div>

      <!-- مستطيل -->
      <div class="card wide">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/2133x1200/aa167a689c/burger.jpg">
      </div>

<!-- مربع -->
      <div class="card square">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/250x250/731b62d61e/mcdonalds-logo-green-250x250.png">
      </div>

      <!-- مستطيل -->
      <div class="card wide">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/2133x1200/aa167a689c/burger.jpg">
      </div>


<!-- مربع -->
      <div class="card square">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/250x250/731b62d61e/mcdonalds-logo-green-250x250.png">
      </div>

      <!-- مستطيل -->
      <div class="card wide">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/2133x1200/aa167a689c/burger.jpg">
      </div>



<!-- مربع -->
      <div class="card square">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/250x250/731b62d61e/mcdonalds-logo-green-250x250.png">
      </div>

      <!-- مستطيل -->
      <div class="card wide">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/2133x1200/aa167a689c/burger.jpg">
      </div>


<!-- مربع -->
      <div class="card square">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/250x250/731b62d61e/mcdonalds-logo-green-250x250.png">
      </div>

      <!-- مستطيل -->
      <div class="card wide">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/2133x1200/aa167a689c/burger.jpg">
      </div>


<!-- مربع -->
      <div class="card square">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/250x250/731b62d61e/mcdonalds-logo-green-250x250.png">
      </div>

      <!-- مستطيل -->
      <div class="card wide">
        <img src="https://img2.storyblok.com/filters:format(webp)/f/62776/2133x1200/aa167a689c/burger.jpg">
      </div>

    </div>
  </div>
</section>
