<section id="partners" class="partners">
  <div class="slider">
    <div class="slide-track">

      <!-- مربع -->
      <div class="card square">
        <img src="https://upload.wikimedia.org/wikipedia/sco/thumb/b/bf/KFC_logo.svg/512px-KFC_logo.svg.png">
      </div>

      <!-- مستطيل -->
      <div class="card wide">
        <img src="https://images.unsplash.com/photo-1601924928376-3c7c4e5c0b57">
      </div>

      <!-- مربع -->
      <div class="card square">
        <img src="https://cdn-icons-png.flaticon.com/512/1404/1404945.png">
      </div>

      <!-- مربع -->
      <div class="card square dark">
        <img src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png">
      </div>

      <!-- duplicate -->
      <div class="card square">
        <img src="https://upload.wikimedia.org/wikipedia/sco/thumb/b/bf/KFC_logo.svg/512px-KFC_logo.svg.png">
      </div>

      <div class="card wide">
        <img src="https://images.unsplash.com/photo-1601924928376-3c7c4e5c0b57">
      </div>

      <div class="card square">
        <img src="https://cdn-icons-png.flaticon.com/512/1404/1404945.png">
      </div>

      <div class="card square dark">
        <img src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png">
      </div>

    </div>
  </div>
</section>
