<div class="top-bar">
  <p>We’re available 24/7 in Marrakech</p>
</div>

<style>
.top-bar{
  width:100%;
  background:linear-gradient(90deg,#101727,#101727);
  color:white;
  text-align:center;
  padding:8px;
  font-size:8px;
  font-weight:600;
}
</style>
